#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 8px clamp(16px, 5vw, 200px);
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #f7f7fb;
    color: #222;
    overflow: hidden;
}

h1 {
    margin: 0;
    grid-column: 2;      
    text-align: center;
}

h1 .subtitle {
    font-size: 0.7em;
    color: #000000;
}

@media (max-width: 1500px) {
    .subtitle {
        display: none;
    }
}

@media (max-width: 700px) {

    #header {
        grid-template-columns: 1fr;
        row-gap: 8px;
        justify-items: center;
        text-align: center;
    }

    h1,
    button {
        grid-column: 1;
        justify-self: center;
    }
}

button {
    margin-left: auto;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #222;
    background: #fff;
    color: #222;
    cursor: pointer;
    transition: transform 120ms ease, background-color 200ms ease, color 200ms ease, border-color 200ms ease;
    grid-column: 3;
    justify-self: end; 
}

button:hover {
    transform: translateY(-1px);
}

#wiki-frame {
    width: 100vw;
    height: 100vh;
    background: #fff;
    padding: 0;
}